.navbar {
    padding: 0;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;

        @media (max-width: 991px) {
            display: none;
        }
    }

    a {
        @extend %a-shared;

        i {
            @extend %a-i-shared;
        }

        &:focus {
            @extend %a-shared;

            i {
                @extend %a-i-shared;
            }
        }

        &:hover {
            @extend %b-shared;
            &::before{
                @extend %hover-before;
            }
        }

    }

    .active {
        @extend %b-shared;

        &:focus {
            @extend %b-shared;
        }

        &::before{
            @extend %hover-before;
        }
    }

    li {
        position: relative;
        &:hover {
            >a {
                @extend %b-shared;
                &::before{
                    @extend %hover-before;
                }
            }
        }
    }

    %a-shared {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 600;
        color: #013289;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    %a-i-shared {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    %b-shared {
        color: #4154f1;
    }

    %hover-before{
        visibility: visible;
        width: 100%;
    }

    >ul {
        >li {
            padding: 10px 0 10px 30px;
            >a {
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -6px;
                    left: 0;
                    background-color: var(--bs-warning);
                    visibility: hidden;
                    width: 0px;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
    }

    .dropdown {
        ul {
            display: block;
            position: absolute;
            left: 14px;
            top: calc(100% + 30px);
            margin: 0;
            padding: 10px 0;
            z-index: 99;
            opacity: 0;
            visibility: hidden;
            background: #fff;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            transition: 0.3s;
            border-radius: 4px;

            li {
                min-width: 200px;

                &:hover {
                    >a {
                        @extend %c-shared;
                    }

                }
            }

            a {
                padding: 10px 20px;
                font-size: 15px;
                text-transform: none;
                font-weight: 600;

                i {
                    font-size: 12px;
                }

                &:hover {
                    @extend %c-shared;
                }
            }

            .active {
                &:hover {
                    @extend %c-shared;
                }
            }

            %c-shared {
                color: #4154f1;
            }
        }

        &:hover {
            >ul {
                opacity: 1;
                top: 100%;
                visibility: visible;
            }
        }

        .dropdown {
            ul {
                top: 0;
                left: calc(100% - 30px);
                visibility: hidden;

                @media (max-width: 1366px) {
                    left: -90%;
                }
            }

            &:hover {
                >ul {
                    opacity: 1;
                    top: 0;
                    left: 100%;
                    visibility: visible;

                    @media (max-width: 1366px) {
                        left: -100%;
                    }
                }
            }
        }
    }
}

.mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;

    &.bi-x {
        color: #fff;
    }

    @media (max-width: 991px) {
        display: block;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;

    .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        border-radius: 10px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
    }

    a {
        @extend %d-shared;

        &:focus {
            @extend %d-shared;
        }

        &:hover {
            @extend %e-shared;
        }
    }

    .active {
        @extend %e-shared;
        border-left: 5px solid var(--bs-warning);
        padding-left: 15px !important;
    }

    li {
        &:hover {
            >a {
                @extend %e-shared;
            }
        }
    }

    %d-shared {
        padding: 10px 20px;
        font-size: 15px;
        color: #012970;
    }

    %e-shared {
        color: #4154f1;
    }

    .dropdown {
        ul {
            position: static;
            display: none;
            margin: 10px 20px;
            padding: 10px 0;
            z-index: 99;
            opacity: 1;
            visibility: visible;
            background: #fff;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);

            li {
                min-width: 200px;

                &:hover {
                    >a {
                        @extend %f-shared;
                    }
                }
            }

            a {
                padding: 10px 20px;

                i {
                    font-size: 12px;
                }

                &:hover {
                    @extend %f-shared;
                }
            }

            .active {
                &:hover {
                    @extend %f-shared;
                }
            }

            %f-shared {
                color: #4154f1;
            }
        }

        >.dropdown-active {
            display: block;
        }
    }
}